@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

html {
    background: var(--secondary);
    scroll-behavior: smooth;
    scroll-padding: 4rem;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: clamp(24px, 5vw, 40px) !important;
}
h2 {
    font-size: clamp(14px, 3vw, 20px) !important;
}

input[type='radio'] + label .span {
    transition: background 0.2s, transform 0.2s;
}

input[type='radio'] + label .span:hover,
input[type='radio'] + label:hover .span {
    transform: scale(1.2);
}

input[type='radio']:checked + label .span {
    background-color: var(--primary);
    box-shadow: 0px 0px 0px 2px white inset;
}

input[type='radio']:checked + label {
    color: var(--primary);
}
input[type='radio']:disabled + label {
    color: var(--light_grey);
}
